<div>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput name="search" placeholder="Recherche" value="" [(ngModel)]="search">
        </mat-form-field>
    </form>


    <div style="display: flex;justify-content: space-between">
        
        <mat-card *ngFor="let horse of filterItems(horses)" (click)="onItemClicked(horse)" style="width: 300px">
            <img mat-card-image src="https://bransbyhorses.co.uk/app/uploads/2016/03/Sophie.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{horse.name}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>